@import "../../../variables.styl";

.header
	color BLUE
	font-size 0
	height 100px
	width 100%
	background-image linear-gradient(to left, YELLOW, WHITE 75%)

.header-logo
	width 150px
	height 80px
	background BLUE
	display inline-block
	border 2px solid BLACK
	margin-top 10px
	margin-left 50px

.header--text
	display inline-block
	font-size 1rem
	height 100%
	line-height 100px