@import "style-reset.styl"
@import "variables.styl"

@import url('https://fonts.googleapis.com/css?family=Josefin+Slab|Open+Sans+Condensed:300')

h1,h2,h3,h4,h5,h6
	font-family: MAJOR-FONT
	margin-bottom 10px

	&>small
		font-family: SUB-FONT

h1
	font-size 2em

body, p
	font-family: SUB-FONT

.row
	&:after,&:before
		content ''
		display table
		clear both

main
	width 60%
	float left


.aside
	width 20%
	float left

.aside-right
	width 20%
	float left

@media screen and (max-width: 472px)
	.aside
		width 100%
		box-shadow none
		float none

	main
		width 100%
		float none

	.aside-right
		display none