BLUE = #006AB6
WHITE = #fff
BLACK = #000
YELLOW = #FFF200

TEXT-COLOR = WHITE
COMMON-TEXT-COLOR = BLUE
COMMON-BACKGROUND = BLUE
SUBBACKGROUND = YELLOW

MAJOR-FONT = 'Josefin Slab', serif
SUB-FONT = 'Open Sans Condensed', sans-serif